---
#
# PLEASE NOTE: Managed workflow - do not change manually
#
name: Check

on:
  pull_request:
    branches:
      - master

jobs:
  check:
    uses: wetransform/gha-workflows/.github/workflows/gradle-library-check.yml@b8c149abb6fed430a99dbd7ca25a093ffe875ab1 # v4.0.0
    with:
      multi-module: true
      skip-scan: true
    secrets: inherit
